p {
    color: red;
}

.welcome {
    border: 4px solid red;
    /* external spacing */
    margin: 32px;
    /* internal spacing */
    padding: 16px;
    color: green;
}

/* Styling the question class */
.question {
    color: bisque;
    background-color: blueviolet;
}

.answer {
    color: blue;
    background-color: yellow;
}
.btn-q3 {
    color: white;
    background-color: red;
    border: 1px solid black;
    padding: 8px;
    margin-left: 20px;
}